.timer-unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.timer-unit button {
  display: flex;
  align-items: center;
  justify-content: center;
  
  opacity: 0;
  transition: opacity 0.15s;
}

.timer-unit:hover button {
  opacity: 1;
}

.timer-unit .value {
  width: 75px;

  font-size: 60px;
  text-align: center;
  color: black;
  background-color: #edf2fa;
  border: 2px solid #d3e3fd;
  border-radius: 6px;
  padding: 0;
}

.non-editable {
  position: relative;
  user-select: none;
}

.non-editable::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.timer-unit .up-arrow,
.timer-unit .down-arrow {
  cursor: pointer;
  background-color: white;
  border: none;
}

.timer-unit .up-arrow img,
.timer-unit .down-arrow img {
  width: 20px;
}