.title {
  width: 90%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title h1 {
  font-size: 40px;
  font-weight: bold;
  
  padding-bottom: 4px;
  border-bottom: 2px solid #3d6deb;
}

.title .left-arrow,
.title .right-arrow {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  border: none;

  transition: transform 0.15s;
}

.title img,
.title img {
  width: 32px;
}