* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-tap-highlight-color: transparent !important;
}

:root {
  --comic-relief: "comic relief", sans-serif;
  --karla: "karla", sans-serif;
  --hanken-grotesk: "Hanken Grotesk", sans-serif;
}

html,
body {
  width: 100%;
  height: 100dvh;
}

div#root {
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
}
